<!DOCTYPE html>
<html lang="en" ng-app="AngularTestingApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Testing</title>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="kid-table/kid-table.module.js"></script>
    <script src="show-text/show-text.module.js"></script>
    <script src="number-input/number-input.module.js"></script>
    <script src="math-table/math-table.module.js"></script>
    <script src="kid-table/kid-table.component.js"></script>
    <script src="show-text/show-text.component.js"></script>
    <script src="number-input/number-input.component.js"></script>
    <script src="math-table/math-table.component.js"></script>

    <link rel="stylesheet" href="app.css"/>
</head>

<body ng-controller="AngularTestingCtrl">
<h1>Welcome to a Page</h1>

<!-- Simple data bindings -->
<p>This is a bound value from the controller: {{value}}</p>
<p>Here's another bound value: <span class="coloredText">{{numCount}}</span></p>

<!-- Simple component example -->
<hr/>
<show-text input-text="Hello There"></show-text>
<show-text input-text="Another One"></show-text>
<show-text input-text="Number 3"></show-text>

<!-- Binding,repeater (with/without a filter and ordering) in a component -->
<hr/>
<div class="inlineForm">
    <p>Search: <input ng-model="kidQuery"/></p>
    <p>Sort by: <select ng-model="sortOrder">
        <option value="name">Name</option>
        <option value="age">Age</option>
    </select></p>
</div>
<kid-table style="float:left;" query="{{kidQuery}}" order-by="{{sortOrder}}"></kid-table>
<kid-table count="2" style="float:left"></kid-table>
<kid-table count="6" style="float:left" query="{{kidQuery}}"></kid-table>

<!-- A simple form with validation, Repeaters that are based on bound values -->
<hr style="clear:left"/>
<number-input min-value="15" max-value="30"></number-input>
<number-input min-value="10" max-value="1045"></number-input>
<number-input min-value="0" max-value="15" on-set-value="valFromUser = outNum"></number-input>
<p>Value from NumberInput: <span class="coloredText">{{valFromUser}}</span></p>
<p>Value * 2: <span class="coloredText">{{valFromUser * 2}}</span></p>

<!-- Tables built from components -->
<hr/>
<math-table max-value="5"></math-table>
<math-table max-value="{{valFromUser}}"></math-table>
<math-table max-value="{{valFromUser * 2}}"></math-table>

</body>

</html>